### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Local development
# west-managed dependencies
.west/
modules/
optional/modules/
prospector-zmk-module/
zephyr/
zmk/
zmk-dongle-display/
zmk-dongle-screen/
zmk-helpers/
zmk-rgbled-widget/

# local Python environment and build output
.venv/
build/
firmware/*.uf2

# local reference files
firmwareV1.12.zip
Untitled.vil
